@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --black: #000;
    --body-color: hsl(206, 4%, 97%);
    --card-color: hsl(0, 0%, 90%);
    --text-color: hsl(206, 4%, 42%);
    --text-color-light: hsl(206, 4%, 75%);
    --naranja-color: hsl(36, 72%, 48%);
    --naranja-color-alt: hsl(36, 72%, 44%);
    --black-color: hsl(0, 4%, 5%);
    --title-color: #fff;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-40: 40px;
    --font-bold: 700;
    --transition-3s: 0.3s ease all;
    --transition-5s: 0.5s ease all;
    --box-shadow: 0 0 2px 1px hsl(0, 0%, 90%);
    --box-shadow--negro: 0 0 5px 1px hsl(0, 0%, 13%);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Lato", sans-serif;
    background: var(--body-color);
    color: var(--text-color);
    font-size: var(--font-size-14);
    min-height: 300vh;
    line-height: 1.5;
}
::-webkit-scrollbar {
    width: 6px;
    background: var(--white);
}
::-webkit-scrollbar-thumb {
    width: 6px;
    background: var(--black);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button,
input {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}
img {
    width: 100%;
    height: auto;
}

/*===== agregadoExitosamente ===== */
.agregadoExitosamente {
    position: fixed;
    top: 90px;
    right: -100%;
    width: fit-content;
    height: fit-content;
    padding: 20px 30px;
    color: var(--black);
    background: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 30;
    font-size: 15px;
    transition: var(--transition-3s);
    display: flex;
    align-items: center;
    justify-content: center;
}
.agregadoExitosamente.active::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    animation: recorrer 2.5s ease-in-out;
    background: var(--black);
}
@keyframes recorrer {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
.agregadoExitosamente.left {
    left: -100%;
}
.agregadoExitosamente.active {
    right: 35px;
}
.agregadoExitosamente.left.active {
    left: 35px;
}
/*===== carrito ===== */
.carrito {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    background: var(--white);
    color: var(--text-color);
    z-index: 100;
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    transition: var(--transition-3s);
    transition-property: right;
}
.carrito.active {
    right: 0;
}
.carrito__top {
    padding: 10px 20px;
    padding-right: 10px;
}
.carrito__contenedor {
    width: 100%;
    flex: 1;
    padding: 20px 10px;
    overflow: auto;
}
.carrito__title {
    width: 100%;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carrito__close {
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}
.carrito__img {
    width: 100px;
    object-fit: cover;
}
.carrito__item {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    box-shadow: var(--box-shadow);
    padding: 15px;
    border: 5px;
    margin: 10px 0;
}
.titulo {
    text-transform: uppercase;
    color: var(--black);
}
.carrito__tachado {
    text-decoration: line-through;
}
.carrito__precio {
    color: var(--black);
}
.carrito__cantidad {
    width: fit-content;
    margin: 10px 0;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.mas,
.menos {
    font-size: 20px;
    cursor: pointer;
}
.carrito__envio {
    display: block;
    margin: 20px 0;
}
.carrito__i {
    font-size: 15px;
    color: var(--white);
    background: #21be05;
    border-radius: 50%;
    padding: 5px;
}
.carrito__vendido {
    margin-top: 20px;
    font-size: 13px;
}
.carrito__enlaces {
    margin: 10px 0;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carrito__a {
    color: var(--black);
    font-weight: bold;
}
.carrito__a:hover {
    text-decoration: underline;
}
.carrito__botones {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carrito__total {
    color: var(--black);
    font-weight: bold;
}
.total {
    font-weight: 300;
}
.carrito__boton {
    color: var(--white);
    background: var(--black);
    padding: 15px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    display: inline-block;
}

/*===== utilidades ===== */
.max-width {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}
/*===== load ===== */
.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 99%);
    display: grid;
    place-items: center;
    z-index: 200;
}
.load__gif {
    width: 200px;
}
/*===== header ===== */
.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: var(--transition-3s);
}
.nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.nav__flex {
    flex: 1;
}
.nav__logo {
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: var(--font-size-16);
    font-weight: var(--font-bold);
    color: var(--white);
}
.nav__img {
    width: 20px;
    object-fit: cover;
}
.nav__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.boton--cart {
    padding: 20px;
    width: fit-content;
    font-size: 20px;
    color: var(--text-color-light);
    cursor: pointer;
    padding: 6px;
    margin-right: 10px;
    transition: var(--transition-3s);
    position: relative;
}
.indiceContador {
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6px;
    right: -6px;
    font-size: 12px;
    color: var(--white);
}
.boton--cart:hover {
    color: var(--white);
}
.boton--cart--icono {
    pointer-events: none;
}
.nav__item {
    border-right: 1px solid var(--text-color);
    padding-right: 20px;
}
.nav__item:last-child {
    border: none;
}
.nav__link {
    text-transform: uppercase;
    color: var(--title-color);
    font-size: var(--font-size-14);
    transition: var(--transition-3s);
    opacity: 0.8;
}
.nav__link:hover {
    opacity: 1;
    color: var(--white);
}
.nav__toggle {
    display: none;
    color: var(--white);
    padding: 5px;
    margin-left: 10px;
}
.nav__close {
    display: none;
}
/*===== inicio ===== */
.inicio {
    width: 100%;
    min-height: 100vh;
    background: var(--black-color);
}
.inicio__contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 30px;
    padding-right: 0;
}
.inicio__scroll {
    position: absolute;
    top: 50%;
    left: calc(50% + 15px);
    transform: translate(-50%, -50%);
    animation: scroll 2s ease infinite;
}
.inicio__scrollImg {
    width: 80px;
}

@keyframes scroll {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0;
    }
}
.inicio__presentacion {
    margin-left: auto;
    max-width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
}
.inicio__top {
    border-bottom: 1px solid var(--text-color);
}
.inicio__titulo {
    color: var(--white);
    font-size: var(--font-size-40);
    text-transform: capitalize;
}
.inicio__parrafo {
    margin: 40px 0;
}
.inicio__colorNaranja {
    color: var(--naranja-color);
}
.inicio__bg {
    width: 50%;
    height: 100vh;
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.inicio__bottom {
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.inicio__testimonios {
    width: 100%;
}
.inicio__colorNaranja--tamaño {
    font-size: var(--font-size-30);
}
.inicio__testimoniosTitle {
    font-size: var(--font-size-18);
    margin-top: 25px;
    text-transform: capitalize;
}
.inicio__testimoniosParrafo {
    margin: 10px 0;
}
/*===== especiales ===== */
.especiales {
    width: 100%;
    padding-top: 100px;
}
.especiales__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 20px 0;
}
.title {
    width: fit-content;
    color: var(--black-color);
    font-size: var(--font-size-25);
    position: relative;
}
.title::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: -10px;
    border-left: 3px solid var(--naranja-color);
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    background: var(--black-color);
    border-radius: 5px;
    font-weight: var(--font-bold);
    font-size: var(--font-size-16);
    text-transform: uppercase;
    transition: var(--transition-3s);
    text-align: center;
}
.boton:hover {
    background: var(--black);
}
.boton--width {
    width: 140px;
}
.especiales__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 50px 0;
}
.especiales__item {
    max-width: 200px;
    padding: 20px 0;
}
.especiales__item:last-child::after {
    position: static;
}
.especiales__img {
    max-width: 80px;
    margin-bottom: 10px;
    transition: var(--transition-5s);
}
.especiales__item:hover .especiales__img {
    transform: translateY(-10px);
}
.especiales__title {
    color: var(--black-color);
    margin: 10px 0;
    text-transform: capitalize;
}
.especiales__texto {
    font-size: var(--font-size-14);
}
/*===== productos ===== */
.productos {
    width: 100%;
    padding-top: 100px;
}
.productos__filtros {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 50px;
    margin: 50px 0;
}
.productos__filtro {
    position: relative;
    padding: 10px 0;
    border-right: 1px solid var(--text-color-light);
}
.filtro__top {
    display: none;
}
.productos__filtro:last-child {
    border: none;
}
.productos__title {
    color: var(--black-color);
    font-size: var(--font-size-16);
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
}
.productos__title.activo {
    font-weight: var(--font-bold);
}
/*===== grid ===== */
.grid {
    position: relative;
    width: 100%;
}
.item {
    position: absolute;
    display: block;
    padding: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    width: calc(25% - 50px);
}
.item-contenido {
    text-align: center;
    position: relative;
    background: var(--card-color);
}
.productos__img {
    width: 120px;
    padding: 10px;
}
.productos__info {
    text-align: left;
    position: relative;
    padding: 20px;
    background: var(--white);
}
.productos__costo,
.productos__nombre {
    color: var(--black-color);
    font-weight: 700;
    font-size: var(--font-size-18);
}
.productos__nombre {
    font-size: var(--font-size-16);
}
.grid__boton {
    cursor: pointer;
    top: -20px;
    right: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    background: var(--black-color);
    font-size: var(--font-size-20);
    box-shadow: var(--box-shadow);
    transition: var(--transition-3s);
}
.grid__boton i {
    pointer-events: none;
}
.grid__boton:hover {
    background-color: var(--card-color);
    color: var(--black);
}
/*===== premium ===== */
.premium {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.premium__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 80px;
    margin: 50px 0;
}
.premium__imagen {
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.premium__img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.premium__position {
    width: 120px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
}
.premium__informacion {
    width: 100%;
    height: 100%;
}
.premium__title {
    color: var(--black-color);
    font-size: var(--font-size-30);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.premium__precio {
    color: var(--black-color);
    font-size: var(--font-size-30);
}
.premium__especial {
    font-size: var(--font-size-16);
}
.premium__parrafo {
    margin: 30px 0;
}
.premium__botones {
    display: flex;
    gap: 20px;
}
.boton--ancho {
    width: 190px;
}
.boton--blanco {
    width: 150px;
    color: var(--black-color);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: var(--transition-3s);
    background: var(--title-color);
}
.boton--blanco:hover {
    gap: 20px;
    background: var(--card-color);
}
/*===== iconos ===== */
.iconos {
    padding-top: 50px;
    border-top: 1px solid var(--text-color-light);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.iconos__item {
    width: 70px;
    margin: 0 auto;
    text-align: center;
}
.iconos__img {
    filter: saturate(0);
    opacity: 0.5;
    transition: var(--transition-3s);
    cursor: pointer;
    object-fit: cover;
}
.iconos__img:hover {
    opacity: 1;
    filter: saturate(1);
}
/*===== blogs ===== */
.blogs {
    width: 100%;
    padding-top: 80px;
}
.blogs__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 50px;
}
.blogs__item {
    margin-top: 50px;
}
.blogs__imagen {
    width: 100%;
    position: relative;
}
.blogs__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogs__boton {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    box-shadow: var(--box-shadow);
    color: var(--black-color);
    background: var(--white);
    font-size: var(--font-size-20);
    transition: var(--transition-3s);
}
.blogs__i {
    transform: rotate(-20deg);
}
.blogs__boton:hover {
    transform: scale(1.1);
}
.blogs__title {
    color: var(--black-color);
}
.blogs__iconos {
    display: inline-flex;
    gap: 30px;
    margin-top: 10px;
}
.blogs__comentarios,
.blogs__vistas {
    font-size: var(--font-size-16);
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
/*===== footer ===== */
.footer {
    margin-top: 50px;
    width: 100%;
    padding: 30px 20px;
    padding-bottom: 0;
    background-color: var(--black-color);
}
.footer__title {
    font-size: var(--font-size-18);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.footer__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    padding: 40px 0;
}
.footer__item {
    width: 100%;
}
.footer__li {
    margin: 5px 0;
}
.footer__link {
    color: var(--text-color);
    font-size: var(--font-size-14);
    transition: var(--transition-3s);
}
.footer__link:hover {
    color: var(--title-color);
    text-decoration: underline;
}
.footer__formulario {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    margin-top: 10px;
    margin-right: 10px;
}
.footer__input {
    padding: 10px;
    border-radius: 5px;
    font-size: var(--font-size-14);
    font-weight: 500;
    color: var(--text-color);
}
.footer__boton {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: var(--naranja-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-25);
    color: var(--black-color);
    cursor: pointer;
}
.footer__redes {
    width: 100%;
    border-top: 1px solid var(--text-color-light);
    padding: 20px 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer__ico {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-left: 0;
    cursor: pointer;
}
.footer__enlace {
    font-size: var(--font-size-20);
    color: var(--white);
}
.footer__enlace:hover {
    color: var(--naranja-color);
    transform: scale(1.2);
}
/*===== subir ===== */
.subir {
    position: fixed;
    right: 50px;
    bottom: -100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    color: var(--black);
    box-shadow: var(--box-shadow);
    transition: var(--transition-5s);
}
.subir.active {
    bottom: 50px;
}

@media (max-width: 1037px) {
    .inicio__presentacion {
        max-width: 50%;
    }
}
@media (max-width: 780px) {
    body.active {
        overflow: hidden;
    }
    .carrito {
        width: 100%;
    }
    .nav__item {
        border: none;
    }
    .nav__close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: var(--font-size-30);
        color: var(--white);
        cursor: pointer;
    }
    .nav__toggle {
        display: inline-flex;
        font-size: var(--font-size-30);
        cursor: pointer;
    }
    .nav__menu {
        position: fixed;
        background: var(--black-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        transition: var(--transition-3s);
        z-index: 200;
    }
    .nav__menu.active {
        right: 0;
    }
    .nav__list {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .inicio__contenedor {
        flex-direction: column-reverse;
        padding: 0;
    }
    .inicio__bg {
        width: 100%;
        height: 50vh;
    }
    .inicio__presentacion {
        max-width: 100%;
        padding: 70px 40px;
    }
    .inicio__scroll {
        position: absolute;
        top: 80px;
        left: 30px;
        transform: none;
        animation: scroll 2s ease infinite;
    }
    .item {
        width: calc(33% - 50px);
    }
    .premium__botones {
        flex-direction: column;
    }
    .boton--ancho,
    .boton--blanco {
        width: 100%;
    }
    .productos__filtros {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .productos__filtro {
        border: none;
    }
    .premium__contenedor {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .premium__position {
        right: 0;
        bottom: 0;
        transform: none;
    }
    /*===== filtros ===== */
    .productos__filtros {
        max-height: 60px;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        position: relative;
        transition: var(--transition-3s);
    }
    .filtro__top {
        grid-column: 1/3;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filtro__h2 {
        color: var(--black-color);
    }
    .productos__ico {
        margin-right: 50px;
        font-size: var(--font-size-40);
        cursor: pointer;
        transition: var(--transition-3s);
    }
    .productos__filtros.active {
        max-height: 600px;
    }
    .productos__ico.active {
        transform: rotate(-180deg);
    }
    .subir.active {
        bottom: 20px;
        right: 20px;
    }
    .inicio__scrollImg {
        width: 60px;
    }
}
@media (max-width: 683px) {
    .especiales__bottom {
        align-items: center;
        justify-content: center;
    }
    .especiales__item {
        text-align: center;
    }
}
@media (max-width: 675px) {
    .item {
        width: calc(50% - 50px);
    }
    .footer__contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
    .iconos {
        gap: 10px;
    }
    .iconos__item {
        width: 50px;
    }
    .especiales__top {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (max-width: 583px) {
    .agregadoExitosamente {
        padding: 10px 20px;
        font-size: 13px;
    }
    .agregadoExitosamente.active {
        right: 30px;
    }
    .footer__contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs__contenedor {
        grid-template-columns: 1fr;
    }
    .footer__redes {
        flex-direction: column;
        text-align: center;
    }
    .footer__ico {
        padding-right: 0;
        padding: 0;
    }
    .premium__position {
        top: 0;
        left: 0;
    }
}
@media (max-width: 460px) {
    .carrito__item {
        display: block;
    }
    .carrito__img {
        float: right;
        margin-top: -20px;
    }
    .inicio__bottom {
        flex-direction: column;
        gap: 50px;
    }
    .footer__contenedor {
        grid-template-columns: 1fr;
    }
    .item {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .productos__ico {
        margin-right: 0;
    }
    .iconos {
        grid-template-columns: repeat(3, 1fr);
    }
    .inicio__presentacion {
        padding: 30px 20px;
    }
    :root {
        --font-size-14: 13px;
        --font-size-16: 14px;
        --font-size-18: 15px;
        --font-size-20: 15px;
        --font-size-25: 20px;
        --font-size-30: 25px;
        --font-size-40: 30px;
    }
    .inicio__parrafo {
        margin: 20px 0;
    }
    .iconos {
        row-gap: 30px;
    }
    .iconos__item {
        width: 40px;
    }
}
@media (max-width: 340px) {
    .carrito__title {
        font-size: 15px;
    }
    .carrito__cantidad {
        width: fit-content;
    }
    .productos__filtros {
        grid-template-columns: 1fr;
    }
    .filtro__top {
        grid-column: 1/2;
    }
    .footer {
        padding: 10px 0;
    }
    .footer__formulario {
        grid-template-columns: 1fr;
    }
    .title {
        margin: 0 10px;
    }
    .max-width {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer__input {
        width: 100%;
    }
    .footer__boton {
        width: 100%;
    }
    .agregadoExitosamente.active {
        padding: 10px 10px;
        font-size: 11px;
    }
    .agregadoExitosamente.active {
        right: 20px;
    }
}
@media (max-width: 280px) {
    .carrito__enlaces {
        flex-direction: column;
    }
    .carrito__i {
        float: right;
    }
    .carrito__envio {
        font-size: 13px;
    }
    .carrito__cantidad {
        gap:5px;
    }
    .carrito__img{
        width: 50px;
        margin: 0;
    }
}
